<div class="row">
  <div class="col-md-4">
    <h2>淡海線輕軌工程</h2>
<div class="stage">
  <h4>企畫階段</h4>
  <button class="btn btn-primary btn-sm">網路規劃</button>
  <button class="btn btn-outline-primary btn-sm">機電設施規模研究</button>
  <button class="btn btn-outline-primary btn-sm">走廊研究</button>
</div>
<div class="stage">
    <h4>規劃(含調查)階段</h4>
    <button class="btn btn-outline-primary btn-sm">網路規劃</button>
    <button class="btn btn-outline-primary btn-sm">機電設施規模研究</button>
    <button class="btn btn-outline-primary btn-sm">走廊研究</button>
  </div>
  <div class="stage">
      <h4>企畫階段</h4>
      <button class="btn btn-outline-primary btn-sm">網路規劃</button>
      <button class="btn btn-outline-primary btn-sm">機電設施規模研究</button>
      <button class="btn btn-outline-primary btn-sm">走廊研究</button>
    </div>
  </div>
  <div class="col-md-8">
    <h3>網路規劃</h3>
      <div class="float-right">
          <a href="docupload" class="btn btn-primary btn-sm" title="上傳">
          <i class="material-icons">file_upload</i></a>
      </div>
      <ngb-pagination [collectionSize]="120" [(page)]="page" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">序號</th>
            <th scope="col">文件編號</th>
            <th scope="col">名稱</th>
            <th scope="col">最後更新人員/時間</th>
            <th scope="col">操作</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <th scope="row">T00001</th>
            <td><a href="docview">網路規劃建議書</a></td>
            <td>許傑利 <span class="badge badge-light">2018-01-03 17:22</span></td>
            <td>
              <a href=""><i class="material-icons">visibility</i></a>
              <a href=""><i class="material-icons">file_download</i></a>
              <a href=""><i class="material-icons">edit</i></a>
              <a href=""><i class="material-icons">delete_forever</i></a>
            </td>
          </tr>
          <tr>
              <th scope="row">2</th>
              <th scope="row">T00002</th>
              <td><a href="docview">網路規劃與設計文件</a></td>
              <td>許傑利 <span class="badge badge-light">2018-01-03 17:22</span></td>
              <td>
                <a href=""><i class="material-icons">visibility</i></a>
                <a href=""><i class="material-icons">file_download</i></a>
                <a href=""><i class="material-icons">edit</i></a>
                <a href=""><i class="material-icons">delete_forever</i></a>
              </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <th scope="row">T00003</th>
                <td><a href="docview">系統建置計畫書</a></td>
                <td>許傑利 <span class="badge badge-light">2018-01-03 17:22</span></td>
                <td>
                  <a href=""><i class="material-icons">visibility</i></a>
                  <a href=""><i class="material-icons">file_download</i></a>
                  <a href=""><i class="material-icons">edit</i></a>
                  <a href=""><i class="material-icons">delete_forever</i></a>
                </td>
              </tr>
              <tr>
                  <th scope="row">4</th>
                  <th scope="row">T00004</th>
                  <td><a href="docview">網路架構可行性分析報告</a></td>
                  <td>許傑利 <span class="badge badge-light">2018-01-03 17:22</span></td>
                  <td>
                    <a href=""><i class="material-icons">visibility</i></a>
                    <a href=""><i class="material-icons">file_download</i></a>
                    <a href=""><i class="material-icons">edit</i></a>
                    <a href=""><i class="material-icons">delete_forever</i></a>
                  </td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <th scope="row">T00005</th>
                    <td><a href="docview">契約文件書與契約文件清單</a></td>
                    <td>許傑利 <span class="badge badge-light">2018-01-03 17:22</span></td>
                    <td>
                      <a href=""><i class="material-icons">visibility</i></a>
                      <a href=""><i class="material-icons">file_download</i></a>
                      <a href=""><i class="material-icons">edit</i></a>
                      <a href=""><i class="material-icons">delete_forever</i></a>
                    </td>
                  </tr>
                  <tr>
                      <th scope="row">6</th>
                      <th scope="row">T00006</th>
                      <td><a href="docview">QC588標品質計畫要求</a></td>
                      <td>許傑利 <span class="badge badge-light">2018-01-03 17:22</span></td>
                      <td>
                        <a href=""><i class="material-icons">visibility</i></a>
                        <a href=""><i class="material-icons">file_download</i></a>
                        <a href=""><i class="material-icons">edit</i></a>
                        <a href=""><i class="material-icons">delete_forever</i></a>
                      </td>
                    </tr>
                </tbody>
      </table>
      <ngb-pagination [collectionSize]="120" [(page)]="page" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>  
  </div>
</div>